@import url('https://fonts.cdnfonts.com/css/geometria');

* {
  margin: 0;
  padding: 0;
  font-family: 'Geometria', sans-serif;
}

body {
  width: 390px;
  font-family: 'Geometria', sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 710px;
  width: 100%;
  background-size: cover;
  background-image: url(https://s3-alpha-sig.figma.com/img/d775/08fc/9f89e62a8cde7bb9b8c419c8853113b8?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=CM63XkTyOVoVEFBH-6rOxJw7Sds-g1x3KItCv1ilMaCFE0~LV~1zSaHNZaW2SqPGVx3CIxPQKt9OwC2qwQGDS5~LNXCG-wGSxRbM0uFelqGt6KU4b9BJQSokZp6H0LRkb4quq7bH~X3JF1MlenrdQ19VO2tZdI-aS0CUN3JyRgVFVohEldz5FAfIte44DxMQ0a05HMejYqiXKuOmw1~kX~ktTllX9Xw~awbmNZOG9Q6xPkwPl~O34uIJ9rMiKxirxpZrBHeMxyypdMPwNbrjgIqE6I9f0eOOk91vimy3XOnRyT~V3-5-oi~-xHo20lNCNUy~TVg4V1vMjNMbzttvkg__);
}

header img {
  width: inherit;
}

.title {
  display: flex;
  align-items: center;
  font-size: 36px;
  color: #FFDFF0;
}

.title-left {
  margin-right: 10px;
  padding: 10px;
  border: 2.8px solid #FFDFF0;
  border-radius: 20px;
}

.banner {
  width: 344px;
  padding: 5px;
  border-radius: 20px;
  color: #5A3282;
  font-size: 30px;
  text-align: center;
  background: linear-gradient(135.62deg, #E0E0E0 5.14%, #FFDAFB 20.17%, #E0E0E0 35.67%, #FFDAFB 50.23%, #E0E0E0 65.73%, #FFDAFB 79.82%, #E0E0E0 95.32%);
}

.banner span {
  font-weight: 600;
}

main {
  background: #221232;
  position: relative;
}

.result-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: linear-gradient(135.62deg, #E0E0E0 5.14%, #FFDAFB 20.17%, #E0E0E0 35.67%, #FFDAFB 50.23%, #E0E0E0 65.73%, #FFDAFB 79.82%, #E0E0E0 95.32%);
  border-radius: 25px 25px 0px 0px;
}

#progress-bar {
  width: 350px;
  height: 49px;
  background-color: #221232;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}

#progress-count {
  color: #FFE2E7;
  font-size: 26px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#progress-fill {
  height: 100%;
  background: linear-gradient(180deg, #CF1F74 0%, #EC4F74 50.52%, #CF1F74 100%);
}

#new-game-btn {
  width: 206px;
  margin-top: 20px;
  padding: 10px;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(136.38deg, #854AAA 5.28%, #BD78C9 20.78%, #854AAA 34.87%, #4D2680 50.37%, #854AAA 65.88%, #B97EC8 80.44%, #854AAA 95.47%);
  color: #FFE2E7;
  border: none;
  border-radius: 25px;
}

.hidden {
  opacity: 50%;
}

#game-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}

.card {
  width: 161px;
  height: 225px;
  margin: 17px;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
}

.top {
  position: absolute;
  top: 0;
  border-radius: 25px;
  z-index: 1;
}

.bottom {
  display: block;
  position: absolute;
  width: 100%;
  pointer-events: none;
  border-radius: 25px;
}

.visibility {
  display: none !important;
}

.modal-empty,
.modal-part,
.modal-all {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 390px;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-empty,
.popup-part,
.popup-all {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 344px;
  height: 245px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.popup-empty {
  background: linear-gradient(116.9deg, #FF6948 0%, #FF8B8B 24.48%, #FF6948 48.96%, #FFBD80 75%, #FF6948 100%);
  box-shadow: 0px 9px 15px 2px #2E18158A;
}

.popup-part {
  background: linear-gradient(116.9deg, #88FF5F 0%, #BAFFA2 24.48%, #BAFFA2 48.96%, #9FF136 75%, #88FF5F 100%);
  box-shadow: 0px 9px 15px 2px #2E18158A;
}

.popup-all {
  background: linear-gradient(116.9deg, #9DDCFF 0%, #74BBFC 25%, #9DDCFF 50%, #CFFFFF 77.6%, #9DDCFF 100%);
  box-shadow: 0px 9px 15px 2px #2E18158A;
}

.popup-empty-title,
.popup-all-title {
  font-size: 48px;
  color: #221232;
  font-weight: 500;
}

.popup-part-title {
  font-size: 30px;
  color: #221232;
  font-weight: 500;
}

.popup-empty-text,
.popup-part-text,
.popup-all-text {
  font-size: 22px;
  font-weight: 400;
  color: #221232;
  padding: 20px;
}

.popup-empty-btn,
.popup-part-btn {
  background-color: #fff;
  border-radius: 50px;
  color: #221232;
  border: none;
  width: 246px;
  height: 57px;
  font-size: 34px;
  font-weight: 400;
}

.popup-all-btn {
  background: linear-gradient(116.9deg, #88FF5F 0%, #BAFFA2 24.48%, #BAFFA2 48.96%, #9FF136 75%, #88FF5F 100%);
  border-radius: 50px;
  color: #221232;
  border: none;
  width: 246px;
  height: 57px;
  font-size: 34px;
  font-weight: 700;
}

footer {
  background: #623186;
  text-align: center;
}

footer h2 {
  color: #FDEACE;
  padding: 20px;
}

.terms {
  display: flex;
  justify-content: space-around;
  color: #F76487;
  font-size: 18px;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
}

.info {
  font-size: 8px;
  color: #FFFFFF;
  opacity: 10%;
  padding: 20px;
}

.read-btn {
  border: 0.68px solid #FFFFFF;
  background-color: transparent;
  color: white;
  opacity: 10%;
  padding: 10px;
  font-size: 10px;
}

#more {
  display: none;
}

.bottom-block {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.title-bottom {
  display: flex;
  align-items: center;
  font-size: 22px;
  color: #FFDFF0;
  opacity: 50%;
}

.title-left-bottom {
  margin-right: 10px;
  padding: 7px;
  border: 2.8px solid #FFDFF0;
  border-radius: 20px;
}

.copyright {
  font-size: 17px;
  color: #FDEACE;
  opacity: 50%;
}